<!doctype html>
<html>
<head>
	<title>About</title>	
    <link href='css/styles.css' rel='stylesheet' type='text/css' />
</head>
<body class="overflow">
	<div id="block">
		<img class="logo" src="{{STATIC_URL}}apps_voor_nederland/img/logo.png" alt="" />
		<div class="clear"></div>
		<img class="left padright" src="img/data.jpg" alt="">
		<h1 class="left">Gebruikte data</h1>
		<h2>Energielabels - Agentschap NL</h2>
		<p>Bron: <a href="http://www.agentschapnl.nl/content/webservice-energielabel" title="" target="_blank">Agentschap NL</a></p>
		<p>"Ruwe data van afgegeven energielabels van gebouwen is in het kader van Apps voor Nederland ter beschikking gesteld. Deze data is tot en met januari 2012 via ftp bereikbaar op: ftp://ftp.ep-online.nl (loginnaam = Apps4Holla, wachtwoord = Apps4Holla_EPBD).</p>
		<p>Per energielabel is de beschikbare informatie: gebouwinformatie; dit betreft de plaats, postcode, het huisnummer, eventuele huisnummertoevoeging en een vrij veld dat gebruikt kan worden voor extra gebouw identificatie met verder het woningtype of hoofdgebruiksfunctie; het certificaatnummer, de datum van opname en registratie door de adviseur, de labelwaarde (energie-index) en de labelklasse, bron van de opname; het berekende gebouwgebonden energieverbruik in MJ, en indien beschikbaar m3 gas, kWh elektrisch, MJ warmte en het aantal m2 van het gebouw.</p>

		<h2>Overzichten energiecijfers op wijk- en buurtniveau</h2>
		<p>Bron: <a href="http://www.agentschapnl.nl/content/overzichten-energiecijfers-op-wijk-en-buurtniveau" title="" target="_blank">http://www.agentschapnl.nl/content/overzichten-energiecijfers-op-wijk-en-buurtniveau</a></p>
		<p>Overzichten energiecijfers op wijk- en buurtniveau voor de jaren 2004, 2006, 2008, 2009 van het CBS - gebaseerd op meetgegevens van de netbeheerders. De cijfers zijn beschikbaar per buurt, wijk en gemeente. </p>

		<p></p>
	</div>
</body>
</html>

