@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html, body { 
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #000;
    overflow: hidden;
}

ul {
    padding: 0 15px;
}

#menu {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #FFF;
    z-index: 5;
    text-align: right;
}
#menu ul {
    float: right;
    margin: 0 300px 0 0;
    padding-top: 5px;
}
#menu li {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    list-style: none;
    margin-left: 30px;
}
#menu li a {
    color: #FFF;
}
#menu li a:hover, #menu li a.active {
    color: red;
}


#sidebar-avn, 
#sidebar-eg,
#sidebar-hos, #mcs_container {
    position: absolute;
    right: 0;
    /*height: 90%;*/
    width: 270px;
    top:30px;
    bottom: 0;
    color: #FFF;
    padding: 20px;  
    background: url('../img/sidebar-background.png') repeat 0 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    z-index: 3;
}
#sidebar-eg, #sidebar-hos {
    background: url('../img/sidebar-background-2.png') repeat 0 0;
}

#sidebar-avn h1,
#sidebar-eg h1,
#sidebar-hos h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-top: 0;
}

.note {
    font-size: 14px;
}
.note h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
}

footer {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background: url('../img/sidebar-background.png') repeat 0 0;
    background-color: #000;
    color: #FFF;
    z-index: 50;
    padding: 5px 20px;
}
footer a {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
footer ul { 
    margin: 0; padding: 0; 
}
footer li { 
    float: left;
    margin-right: 15px;
    list-style: none;
}

.logo {
    float: left;
    position: relative;
    margin: 10px 30px 20px 0;
}

.left { float: left; position: relative; }
.right { float: right; position: relative; }
.clear { clear: both; }
.overflow { overflow: auto; }
.center { text-align: center; }
.hidden { display: none; }
.padright { margin-right: 30px; }
.padleft { margin-left: 30px; }

.modesmaps-setup { position: relative; }
        
#map { height: 100%; width: 100%; margin: auto;}

#block {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
#block h1, #block h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    min-width: 370px;    
}
#block h1 {
    margin: 0 0 30px 0;
}
#block a, .overview a {
    color: #FFF;
}
#block a:hover, .overview a:hover, #block a.active, .overview a.active {
    color: red;
}

.wax-tooltip {
    position: absolute;
    top: 47px;
    /*left: 7px;*/
    right: 320px;
    /*right: auto;*/
    background: url('../img/sidebar-background-2.png') repeat 0 0;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #FFF;
    font: 13px/20px Arial,sans-serif;
    /*max-height: 400px;*/
    /*max-width: 250px;*/
    min-width: 250px;
    overflow: auto;
    padding: 10px;
    z-index: 100;
}

.leaflet-container .leaflet-control-attribution {
    background-color: #000;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    z-index: 51;
}
.leaflet-top .leaflet-control {
    margin-top: 35px;
}
.leaflet-control-zoom a {
    width: 30px;
    height: 30px;
}

.hidden { display: none; }

.overview {
    width: 245px;
}

.overview li {
    list-style: none;
}

.points li {
    height: 50px;
    line-height: 45px;
    clear: both;
}
.points div {
    float: left;
    width:50px; 
    height: 50px;
    margin-right: 5px;
}

.color { 
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.g { background-color: #D73027; }
.f { background-color: #FEE08B; }
.e { background-color: #FFFFBF; }
.d { background-color: #FFFFFF; }
.c { background-color: #FFFFBF; }
.b { background-color: #D9EF8B; }
.a { background-color: #1A9850; }

.l1 { background-color: #61B148; }
.l2 { background-color: #90C149; }
.l3 { background-color: #D6D951; }
.l4 { background-color: #F97B42; }
.l5 { background-color: #F23837; }

.scrollbar { height: 100% !important; }
.track { height: 100% !important; }


#sidebar-avn, #sidebar-eg, #sidebar-hos { clear: both; margin: 10px 0 10px; }
#sidebar-avn .viewport, #sidebar-eg .viewport, #sidebar-hos .viewport { height: 100%; overflow: hidden; position: relative; margin-right: 10px; }
#sidebar-avn .overview, #sidebar-eg .overview, #sidebar-hos .overview { list-style: none; position: absolute; left: 0; top: 0; }
#sidebar-avn .scrollbar, #sidebar-eg .scrollbar, #sidebar-hos .scrollbar { position: relative; float: right; width: 15px; }
#sidebar-avn .thumb, #sidebar-eg .thumb, #sidebar-hos .thumb { background: transparent url(../img/scrollbar2.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#sidebar-avn .thumb .end, #sidebar-eg .thumb .end, #sidebar-hos .thumb .end { background: transparent url(../img/scrollbar-end2.png) no-repeat 50% -7px; overflow: hidden; height: 5px; width: 25px; }
#sidebar-avn .disable, #sidebar-eg .disable, #sidebar-hos .disable { display: none; }


/*#sidebar-avn .thumb .end,*/
/*#sidebar-avn .thumb { background-color: #003D5D; }*/
/*#sidebar-avn .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }*/
/*#sidebar-avn .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }*/
/*#sidebar-avn .thumb .end { overflow: hidden; height: 5px; width: 13px; }*/
/*#sidebar-avn .disable{ display: none; }*/
/*#sidebar-avn .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }*/
/*#sidebar-avn .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }*/
/*#sidebar-avn .scrollbar{ background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }*/
/*#sidebar-avn .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }*/
